<!-- Dropdow para menu "Projectos" -->
<ul id="dropdownMenu" class="dropdown-content">
  <li>
    <a href="/project">
      <i class="large material-icons" style="margin: 2px;">
        list
      </i>
     Agregar Libro
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/project/add">
      <i class="large material-icons" style="margin: 2px;">
        add_box
      </i>
      Buscar libro
    </a>
  </li>
</ul>

<!-- Dropdow para menu "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/user/login">
      <i class="large material-icons" style="margin: 2px;">
        login
      </i>
      Ingresar
    </a>
  </li>
  <li class="divider"></li>
    <li>
    <a href="/user/register">
      <i class="large material-icons" style="margin: 2px;">
        person_add
      </i>
      Registrarse
    </a>
  </li>
  <li>
    <a href="/user/logout">
      <i class="large material-icons" style="margin: 2px;">
        logout
      </i>
      Cerrar sesion
    </a>
  </li>
</ul>

<!-- Inicia marcado de barra de navegación -->
<nav class="teal darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Visulización de navegación en pantalla completa -->
      <a href="/" class="brand-logo">
         <img src="https://www.cdcuauhtemoc.tecnm.mx/wp-content/uploads/2021/08/Logo-TecNM.png" width="150px" height="50px">
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li>
          <a href="/">
            <i class="large material-icons right">
              home
            </i>
            Inicio
          </a>
        </li>
        <li>
          <a href="/about">
            <i class="material-icons right">
              business
            </i>
            Acerca De.
          </a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdownMenu">
            Acciones
            <i class="material-icons right">
              arrow_drop_down
            </i>
          </a>
        </li>
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown-menu">
            Usuario
            <i class="material-icons right">
              people
            </i>
          </a>
        </li>
      </ul>
      <!-- Visulización de Navegación para moviles -->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="/">
            <i class="large material-icons left">
              home
            </i>
            Inicio
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/projects">
            <i class="large material-icons left">
              list
            </i>
            Listar Proyectos
          </a>
        </li>
        <li>
          <a href="/projects/add">
            <i class="large material-icons left">
              add_box
            </i>
            Crear Proyecto
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/user/login">
            <i class="material-icons left">
              login
            </i>
            Ingresar
          </a>
        </li>
        <li>
          <a href="/user/register">
            <i class="material-icons left">
              person_add
            </i>
            Registrarse
          </a>
        </li>
        <li>
          <a href="/user/logout">
            <i class="material-icons left">
              logout
            </i>
            Cerrar Sesión
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/about">
            <i class="material-icons left">
              business
            </i>
            Acerca De.
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>