<div class="row center red lighten-4" 
  style="margin:3em; padding: 2em; border-radius: 1em;">
  <h1 class="header center teal-text black-text">Bienvenidos</h1>
  <h1 class="header center teal-text"><img src="https://www.cdcuauhtemoc.tecnm.mx/wp-content/uploads/2021/08/Logo-TecNM.png" width="150px" height="50px"></h1>
  <h3>{{ icon }}</h3>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Bienvenidos a la libreria del TECNM
    </h5>
  </div>
  <div class="row center">
    <a href="/project/add" id="download-button"
      class="btn-large waves-effect waves-light teal">Consulta los titulos</a>
  </div>
</div>